{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }} {{ block.super }}{% endblock %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/auth_page.css' %}">
{% endblock %}

{% block content %}
<section class="auth-form">
  <div class="container">
    <h2 class="font-heading">{{ title }}</h2>

    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="form-group font-subheading">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="form-error font-secondary">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-primary">{{ title }}</button>
    </form>
  </div>
</section>
{% endblock %}
